<!DOCTYPE html>
<html>
<head>
  <title>Music Study</title>
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body ng-app="MusicStudy">
  <section ng-controller="SongDivCntl">

  <div class="flex-container">
    <div class="flex-item nav">
      <nav>
        <ul>
          <li><a href="#/songs/list">View Music</a> |</li>
          <li><a href="#/songs/new">Add Music</a> |</li>
          <li><a href="#/login">Log In</a> | </li>
          <li><a href="#/login" ng-click="AuthLogout()">Log Out</a></li>
        </ul>
      </nav>
    </div>
<!--     <div class="flex-item control">
      <form>
        <fieldset>
          <div>
            <label for="artist-list">Artist:</label><br />
            <input list="artist-list" name="artist" />
            <datalist id="artist-list">
              <option ng-repeat="song in songObj" value="{{song.artist}}" />
            </datalist>
          </div>
          <div>
            <label for="album-list">Album:</label><br />
            <input list="album-list" name="album" />
            <datalist id="album-list">
              <option ng-repeat="song in songObj" value="{{song.album}}" />
            </datalist>
          </div>
          <div>
            <button type="filter">Filter</button>
          </div>
        </fieldset>
      </form>
    </div> -->
    <div class="flex-item song-list songs_bgrd">

      <div ng-view></div>

    </div>
  </div>
  </section>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="./lib/bower_components/firebase/firebase.js"></script>
  <script type="text/javascript" src="./lib/bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="./lib/bower_components/angularfire/dist/angularfire.min.js"></script>
  <script type="text/javascript" src="./app/main.js"></script>
</body>
</html>

