<!DOCTYPE html>
<html>
<head>
  <title>Music Study</title>
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body ng-app="MusicStudy">
<div ng-view></div>
 <!--  <section ng-controller="SongDivCntl">

  <div class="flex-container">
    <div class="flex-item nav">
      <nav>
        <ul>
          <li>View Music |</li>
          <li><a href="#">Add Music</a> |</li>
          <li><a href="#">Profile</a></li>
        </ul>
      </nav>
    </div>
    <div class="flex-item control">
      <form>
        <fieldset>
          <div>
            <label for="song-length">Song Length:</label><br />
            <input type="range" name="song-length" step="0.5" min="2" max="10" value="5" />
          </div>
          <div>
            <label for="artist-list">Artist:</label><br />
            <input list="artist-list" name="artist" />
            <datalist id="artist-list">
              <option ng-repeat="song in songObj" value="{{song.artist}}" />
            </datalist>
          </div>
          <div>
            <label for="album-list">Album:</label><br />
            <input list="album-list" name="album" />
            <datalist id="album-list">
              <option ng-repeat="song in songObj" value="{{song.album}}" />
            </datalist>
          </div>
          <div>
            <label for="genre-list">Genre:</label><br />
            <div class="checkbox"><input type="checkbox" name="rock" value="Rock">Rock</div>
            <div class="checkbox"><input type="checkbox" name="pop" value="Pop">Pop</div>
            <div class="checkbox"><input type="checkbox" name="blues" value="Blues">Blues</div>
            <div class="checkbox"><input type="checkbox" name="classical" value="Classical">Classical</div>
            <div class="checkbox"><input type="checkbox" name="jazz" value="Jazz">Jazz</div>
            <div class="checkbox"><input type="checkbox" name="hip-hop" value="Hip-Hop">Hip Hop</div>
          </div>
          <button type="filter">Filter</button>
        </fieldset>
      </form>
    </div>
    <div class="flex-item song-list songs_bgrd">

      <div class='fun_stuff'>
      <span class='song-header'></span>
      <ul>
      <div ng-repeat="song in songObj">
      <h3 class='fun_stuff'><span class='song-header'>{{song.title}}</span></h3>
        <li>{{song.artist}}</li>
        <li>{{song.album}} <button ng-click="deleteSong(song)" class='button_delete'>Delete!</button></li>
      </div>
      </ul>
      <div><button id="add_songs">More </button></div>
      </div>
    </div>
    </div>
  </div>
  </section> -->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>
  <script src="lib/bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="./app/main.js"></script>
</body>
</html>

